
body {
    background-color: rgb(255, 255, 255);
    background:repeating-linear-gradient(to bottom ,rgb(201, 201, 201), whrgb(214, 214, 214), darkgray);
}

.header {
    display: flex;
    flex-flow: row;
    background: #8b8b8b;
    justify-content: center;
    margin-bottom: 20px;
}

#links {
    font-size: 12pt;
    line-height: 200%;
    margin: 15px;
}

#links a:focus {
    outline: none;
    color: #00ff6ac5;
}

#links a {
    color: #ffffff;
    padding: 15px;
    background: #535353;
    border-radius:  15%;
    position: relative;
    box-shadow: 2px 4px #3d3d3d;  
}

#links a:hover {
    top: 1px;
    box-shadow: 1px 3px #3d3d3d; 
}

#links a:active {
    top: 2px;
    box-shadow: 0px 0px #3d3d3d; 
}


